{% extends "base/theme.html" %}
	{% block main_content %}
	<div class="row main-content">
 		<div class="col-md-2"></div>
 		<div class="col-md-8">
 			<div class='panel'>
 				<h3>{{ team.title}}</h3>
 				<p>{{ team.description}}</p>
				<p><b>Status: </b>{% if team.project_status %}{{ team.get_project_status_display }}{% else %}----{% endif %}</p>
			 </div>
		 </div>
		 <div class="col-md-2"></div>
		 <div class="col-md-4">
		 	<a type="button" href="{% url 'team_update' pk=team.id %}" class="btn btn-large pull-right">Edit</a>
		 </div>
	</div>
{% endblock %}
