{% extends "base/theme.html" %}
{% load bootstrap_pagination %}

{% block main_content %}
  <div class="row main-content">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        {% for team in object_list %}
         <div class="panel">
           <h3><a href="{{ team.get_absolute_url }}">{{ team.title }}</a></h3>
            {% if team.status %}<p><b>Status: </b>{{ team.status }}</p>{% endif %}
            {% if team.image_file %}
              <img class="img-responsive" src="{{ team.image_file.url }}"></img>
            {% endif %}
             <p>{{ team.description }}</p>
         </div>
         {% endfor %}
      </div>
    <div class="col-md-2"></div>
  </div>
{% endblock %}
{% block pagination %}
 {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
{% endblock %}
