{% extends "base/theme.html" %}
{% load bootstrap_pagination %}

{% block main_content %}
  <div class="row main-content">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        {% for team in object_list %}
         <div class="panel">
           <h3><a href="{{ team.get_absolute_url }}">{{ team.title }}</a></h3>
            {% if team.status %}<p><b>Status: </b>{{ team.status }}</p>
            {% endif %}
            <p><b>Project Status: </b>
            {% if team.project_status %}
            {{ team.get_project_status_display }}
            {% else %}----
            {% endif %}</p>

            {% if team.get_users %}<p>
              <b>Members:
              </b>
              {% for profile in team.get_users %}
              <br>
                <a href="/profile/{{ profile.user.id }}/detail">{{ profile.user.username }}</a>
             {% endfor %}
            {% endif %}

            {% if team.image_file %}
              <img class="img-responsive" src="{{ team.image_file.url }}"></img>
            {% endif %}
             <p><b>Description: </b>{{ team.description }}</p>
         </div>
         {% endfor %}
      </div>
    <div class="col-md-2"></div>
  </div>
{% endblock %}
{% block pagination %}
 {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
{% endblock %}
