{% extends "base/index.html" %}

{% block main_content %}
	{% block navigation %}
		 {% if user.is_authenticated %}
        {% if request.user.profile %}
        <li><a class="page-scroll" href="/profile/{{user.id}}/detail">Welcome back {{user.username}}</a></li>
        {% else %}
        <li><a class="page-scroll" href="/profile/create">Welcome back {{user.username}}</a></li>
        {% endif %}
		 {% endif %} 
		 <li>
		 <a class="page-scroll" href="/team/">Team Views</a>
		 </li>
		 <li>
		 <a class="page-scroll" href="/profile/">User Views</a>
		 </li>
		 {% if user.is_authenticated %}
		 <li>
		 <a class="page-scroll" href="/team/create/">Create Team Profile</a>
		 </li>
		 <li>
		 <a class="page-scroll" href="/logout/">Sign out</a>
		 </li>
		 {% else %}
		 <li>
		 <a class="page-scroll" href="/entrance/">Log In</a>
		 </li> 
		 {% endif %} 
	{% endblock %}
{% endblock %}
