{% extends "base/index.html" %}

{% block main_content %}
	{% block navigation %}
		 {% if user.is_authenticated %}
	    <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="/team/">Welcome back {{user.username}}! <i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu" role="menu">
              {% if user %}
              <p> {{ user.username }}</p>
              <li><a href="/profile/{{user.id}}/detail">Profile</a></li>
              {% else %}
              <li><a href="/profile/create">Profile</a></li>
              {% endif %}
	            <li><a href="/logout/">Sign out</a></li>
	        	</ul>                            
	    </li><!--//dropdown-->                         
		 {% endif %} 
		 <li>
		 <a class="page-scroll" href="/team/">Team Views</a>
		 </li>
		 <li>
		 <a class="page-scroll" href="/profile/">User Views</a>
		 </li>
		 {% if user.is_authenticated %}
		 <li>
		 <a class="page-scroll" href="/team/create/">Create Team Profile</a>
		 </li>
		 {% else %}
		 <li>
		 <a class="page-scroll" href="/entrance/">Log In</a>
		 </li> 
		 {% endif %} 
	{% endblock %}
{% endblock %}
