{% extends "base/index.html" %}

{% block main_content %}
	{% block navigation %}
		 <li>
		 	<a class="page-scroll" href="/team/">Team Views</a>
		 </li>
		 <li>
		 	<a class="page-scroll" href="/profile/">User Views</a>
		 </li>

		 {% if user.is_authenticated %}
        {% if request.user.profile %}
        <li><a class="page-scroll" href="/profile/{{user.profile.id}}/detail">Edit Profile</a></li>
        {% else %}
        <li><a class="page-scroll" href="/profile/create">Create Profile</a></li>
        {% endif %}
		 {% endif %} 

		 {% if user.is_authenticated %}
			 	<li>
			 		<a class="page-scroll" href="/team/create/">Create Team Profile</a>
			 	</li>
			 	<li>
			 		<a class="page-scroll" href="/logout/">Sign out</a>
			 	</li>
			 {% else %}
			 	<li>
			 		<a class="page-scroll" href="/signup/">Sign Up</a>
			 	</li> 

			 	<li>
			 		<a class="page-scroll" href="/login/">Log In</a>
			 	</li> 
		 {% endif %} 
	{% endblock %}
{% endblock %}
